{% load staticfiles %}
<!DOCTYPE html>
<html ng-app='drf-angular'>
    <head>
        <title>Let's get djangular</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <link rel='stylesheet' href="{{STATIC_URL}}/css/main.css">
    </head>
    <body>

        <div ui-view></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
        <script src="{{STATIC_URL}}/js/main.js"></script>
    </body>
</html>

